APP_NAME=cdn_dns_console
API_V1_PREFIX=/api
PROJECT_ENV=local
DATABASE_URL=postgresql+psycopg://cdn_dns:cdn_dns@localhost:5432/cdn_dns

# optional redis for caching sync results
REDIS_URL=redis://localhost:6379/0

# GoDaddy API
GODADDY_API_KEY=
GODADDY_API_SECRET=
GODADDY_ENV=production

# Namecheap API
NAMECHEAP_API_USER=
NAMECHEAP_API_KEY=
NAMECHEAP_API_IP=0.0.0.0
NAMECHEAP_ENV=sandbox
